.vscode/
build-gsparc/
*.out
build/
result/
result_log/
etc/
paper_result/
paper_result_log/
docker_result/
result_CIKM_rev/
results/
expected-figure/
scripts_local/
CMakeFiles/
.claude/
.devcontainer/
result2/
dataset/*
!dataset/.gitkeep
